.login-page,
.login-right,
.login-left {
  height: 100%;
}
.login-page .login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-page .login-right {
  height: 100%;
  padding: 5px 20px;
}
